header
    ul
        li(
            *ngFor="#tab of tabs",
            (click)="select(tab)",
            [class.active]="isActive(tab)"
        ) {{tab}}
section
    mojiset([model]="current")
footer
    button((click)="addTab()") Add
