header
    ul
        li.back((click)="back()") &#x279c;
        li.title {{title}}
        li.copied([class.shown]="copied") Copied
section
    ul
        template(ngFor="", #el="", [ngForOf]="elements")
            li(
                *ngIf="!isEmpty(el)",
                [copy]="el",
                (click)="notice()"
            ) {{el}}
